FinancialPlanner/.vs/ToDo/v15/Server/sqlite3/db.lock
FinancialPlanner/.vs/ToDo/DesignTimeBuild/.dtbcache
FinancialPlanner/.vs/ToDo/v15/Server/sqlite3/storage.ide-wal
FinancialPlanner/.vs/ToDo/v15/Server/sqlite3/storage.ide-shm
FinancialPlanner/ToDoAppTests/obj/project.assets.json
FinancialPlanner/ToDoAppTests/obj/ToDoAppTests.csproj.nuget.g.props
FinancialPlanner/ToDoAppTests/obj/ToDoAppTests.csproj.nuget.g.targets
